* {
    margin-left: 0;
    padding: 0;
    font-family: 'Lato', sans-serif, monospace;
}

.github {
    color: #FFF;
}

.boton {
    color: #F9A826;
}

.ilustraciones-index {
    width: 500px;
}


/*footer*/

.col_white_amrc {
    color: #FFF;
}

footer {
    width: 100%;
    background-color: #000;
    min-height: 250px;
    padding: 10px 0px 25px 0px;
}

.pt2 {
    padding-top: 40px;
    margin-bottom: 20px;
}

footer p {
    font-size: 14px;
    color: #CCC;
    padding-bottom: 0px;
    margin-bottom: 8px;
}

.mb10 {
    padding-bottom: 15px;
}

.footer_ul_amrc {
    margin: 0px;
    list-style-type: none;
    font-size: 14px;
    padding: 0px 0px 10px 0px;
}

.footer_ul_amrc li {
    padding: 0px 0px 5px 0px;
}

.footer_ul_amrc li a {
    color: #CCC;
}

.footer_ul_amrc li a:hover {
    color: #fff;
    text-decoration: none;
}

.fleft {
    float: left;
}

.padding-right {
    padding-right: 10px;
}

.footer_ul2_amrc {
    margin: 0px;
    list-style-type: none;
    padding: 0px;
}

.bottom_border {
    border-bottom: 1px solid #323f45;
    padding-bottom: 20px;
}

footer .social_footer_ul {
    display: flex;
    color: darkslategray;
    list-style-type: none;
    text-decoration: none;
    justify-content: center;
}

footer .social_footer_ul li a {
    color: white;
}

footer .social_footer_ul li a i {
    font-size: 23px;
    line-height: 50px;
    transition: .3s;
    text-align: center;
    width: 20px;
    border-radius: 25px 25px;
    padding-left: 15px;
    padding-right: 35px;
}

footer .social_footer_ul li .fab:hover {
    transform: scale(1.0);
}

footer .social_footer_ul li [class*="fab fa-facebook-f"] {
    padding-left: 19px;
    padding-right: 30px;
}

footer .social_footer_ul li [class*="fab fa-facebook-f"]:hover {
    background-color: #3b5999;
    border-radius: 25px 25px;
    margin-top: 10px;
    padding-left: 19px;
    padding-right: 30px;
}

footer .social_footer_ul li [class*="fab fa-instagram"]:hover {
    background-color: #e4405f;
    border-radius: 25px 25px;
    margin-top: 10px;
    padding-left: 15px;
    padding-right: 35px;
}

footer .social_footer_ul li [class*="fab fa-twitter"]:hover {
    background-color: #55acee;
    border-radius: 25px 25px;
    margin-top: 10px;
    padding-left: 15px;
    padding-right: 35px;
}

footer .social_footer_ul li [class*="fab fa-linkedin"]:hover {
    background-color: #0a66c2;
    border-radius: 25px 25px;
    margin-top: 10px;
    padding-left: 15px;
    padding-right: 34.5px;
}

.iGitHub {
    font-size: 23px;
    line-height: 50px;
}

/*estilo formulario creacion de grupo */

.containerr {
    max-width: 350px;
    width: 100%;
    background-color: #fff;
    padding: 25px 30px;
    border-radius: 5px;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.15);
}

.containerr .title {
    font-size: 25px;
    font-weight: 500;
    position: relative;
}

.containerr .title::before {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    height: 3px;
    width: 30px;
    border-radius: 5px;
    background: linear-gradient(135deg, #71b7e6, #9b59b6);
}

.content form .user-details {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 20px 0 12px 0;
}

form .user-details .input-box {
    margin-bottom: 15px;
    width: calc(100% / 2 - 20px);
}

form .input-box span.details {
    display: block;
    font-weight: 500;
    margin-bottom: 5px;
}

.user-details .input-box input {
    height: 45px;
    width: 100%;
    outline: none;
    font-size: 16px;
    border-radius: 5px;
    padding-left: 15px;
    border: 1px solid #ccc;
    border-bottom-width: 2px;
    transition: all 0.3s ease;
}

.user-details .input-box input:focus,
.user-details .input-box input:valid {

}

form .gender-details .gender-title {
    font-size: 20px;
    font-weight: 500;
}

form .category {
    display: flex;
    width: 80%;
    margin: 14px 0;
    justify-content: space-between;
}

form .category label {
    display: flex;
    align-items: center;
    cursor: pointer;
}

form .category label .dot {
    height: 18px;
    width: 18px;
    border-radius: 50%;
    margin-right: 10px;
    background: #d9d9d9;
    border: 5px solid transparent;
    transition: all 0.3s ease;
}

form input[type="radio"] {
    display: none;
}

form .button {
    height: 45px;
    margin: 35px 0
}

form .button input {
    height: 100%;
    width: 100%;
    border-radius: 5px;
    border: none;
    color: #fff;
    font-size: 18px;
    font-weight: 500;
    letter-spacing: 1px;
    cursor: pointer;
    transition: all 0.3s ease;
    background: linear-gradient(135deg, #71b7e6, #9b59b6);
}

form .button input:hover {
    /* transform: scale(0.99); */
    background: linear-gradient(-135deg, #71b7e6, #9b59b6);
}

@media(max-width: 400px) {
    .containerr {
        max-width: 100%;
    }
    form .user-details .input-box {
        margin-bottom: 15px;
        width: 100%;
    }
    form .category {
        width: 100%;
    }
    .content form .user-details {
        max-height: 300px;
        overflow-y: scroll;
    }
    .user-details::-webkit-scrollbar {
        width: 5px;
    }
}

@media(max-width: 459px) {
    .containerr .content .category {
        flex-direction: column;
    }

}